.checkout {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.checkout-img {
	object-fit: contain;
	height: 10vh;
	padding: 0 2vh 2vh;
}

.grey {
	background-color: #f7f6f4;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-cont {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.overflow-scroll {
	height: 45vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-y: scroll !important;
}

.place-order {
	width: 100%;
	padding: 20px 0;
}

.subtotal {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.place-order-btn {
	width: 100%;
	background-color: #f4de4d;
	outline: none;
	border: none;
	font-size: 20px;
	font-family: "Nunito";
	font-weight: 800;
	height: 7.5vh;
}

.subtotal {
	padding-bottom: 7vh;
	font-size: 20px;
}
