.checkout-page {
	height: 100%;
	width: 100%;
}

.confirm {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirm-img {
	height: 10vh;
	object-fit: contain;
	padding: 0 2vh 2vh;
}

.white {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.check-left {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
}

.check-right {
	width: 35%;
}

.order-confirm {
	font-weight: 700;
	font-size: 24px;
	padding: 6vh 0 1vh;
}

.wait {
	width: 80%;
	padding: 2vh 0 4vh;
}

.go-home {
	width: 80%;
	background-color: #f4de4d;
	font-family: "Nunito";
	font-size: 20px;
	font-weight: 800;
	border: none;
	outline: none;
	padding: 2vh 0;
}

.delivery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 2vh;
}

.item-name {
	color: #333;
	font-size: 20px;
	padding-bottom: 1vh;
}

.item-quantity {
	color: #777777;
	font-size: 16px;
	padding-bottom: 1vh;
}

.three {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.final-item-list {
	padding: 5vh 0;
}

.final-total {
	display: flex;
}

.grandtotal {
	color: #333;
	font-size: 24px;
}

.grandprice {
	color: #333;
	font-size: 32px;
}

.grand {
	display: flex;
	align-items: center;
	width: 80%;
	justify-content: space-between;
}

.three > span {
	padding-bottom: 2vh;
}

.address {
	display: flex;
	justify-content: space-between;
}
