.home {
	width: 100%;
	height: 100%;
}

.home-top {
	height: 45%;
	display: flex;
}

.home-top-right {
	width: 50%;
	display: flex;
}

.home-top-left {
	width: 50%;
}

.home-bottom {
	height: 45%;
	display: flex;
}

.home-bottom-left {
	width: 50%;
	display: flex;
}

.home-bottom-right {
	width: 50%;
}

.test {
	height: 50%;
	width: 100%;
}
